@import '../../common/color.scss';

.group-card {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
  margin: 1rem 0.5rem 1rem 0.2rem;
  color: $black;

  &-avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
  }
  &-info {
    color: $gray2;
    font-size: 0.9rem;
  }
  &-name {
    font-size: 1.6rem;
    color: $black0;
  }
}
