$white: #fffff8;
$white2: #f8f8f8;
$gray0: #e0e1dc;
$gray: #cccccc;
$gray2:#6a6b6e;
$black0:#3c3c3c;
$black: #2B2B2B;
$purple0: #d9d9d9;
$purple: #c0b5e6;
$purple2: #a493da;
$purple3: #8671B5;
$purple4: #6a5c89;
$purple5: #3c3352;
