dateparser
Django==4.1.5
django-markdownx @ git+https://github.com/alphatownsman/django-markdownx.git@e69480c64ad9c5d0499f4a8625da78cf2bb7691b
django-rq
django-simple-history
django-user-messages
django-sass
django-ninja
django-maintenance-mode
django-tz-detect
meilisearch
easy-thumbnails
requests
markdownify
opencc
hiredis==2.1.1
django_react_templatetags
marshmallow
