{% extends "group/react_base.html" %}
{% block extra_head %}
<meta property="og:title" content="{{group.name}}">
<meta property="og:description" name="description" content="{{group.description | truncatechars:100}}">
<link rel="alternate" type="application/rss+xml" title="{{group.name}} RSS" href="{% url 'group:feed' group.id %}" />
{% endblock %}

{% load react %}
{% load static %}

{% block main %}
{% react_render component="Group" props=group_props no_placeholder=1 %}
{% endblock %}

{% block sidebar %}
{% react_render component="GroupSidebar" props=sidebar no_placeholder=1 %}
{% endblock %}
