{% extends "group/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% load thumb %}
{% if my_groups %}
<div>
    <h5>我加入的小组</h5>
    <ul>
        {% for my_group in my_groups %}
        <li style="font-size: 16px;">
        <img src="{{my_group.group.icon_url|thumb:'group'}}" class="entity-detail__avatar">
        <a href="{% url 'group:group' my_group.group.id %}">{{my_group.group.name}}</a>
        - {{my_group.group.description | truncatechars:40}}
        </li>
        {% endfor %}
    </ul>
</div>
<div class="dividing-line"></div>
{% endif %}
<div>
    <h5>全部小组</h5>
    <ul>
        {% for group in groups %}
        <li style="font-size: 16px;">
        <img src="{{group.icon_url|thumb:'group'}}" class="entity-detail__avatar">
        <a href="{% url 'group:group' group.id %}">{{group.name}}</a>
        - {{group.description | truncatechars:40}}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="dividing-line"></div>
<div>
    <h5>最新帖子</h5>
    <ul>
        {% for topic in last_topics %}
        <li>
        <a href="{% url 'group:topic' topic.id %}">{{topic.title}}</a> - from <a href="{% url 'group:group' topic.group.id %}">{{topic.group.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="dividing-line"></div>
<div>
    <h5>最新回复</h5>
    <ul>
        {% for comment in last_comments %}
        <li>
        <a href="{% url 'group:topic' comment.topic.id %}">{{comment.content}}</a> - from <a href="{% url 'group:profile' comment.user.id %}">{{comment.user.mastodon_username}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="dividing-line"></div>
<div>
    <h5>最新加入的用户</h5>
    <ul>
        {% for user in last_join_users %}
        <li>
        <img width="32" height="32" src="{{ user.mastodon_account.avatar }}" class="user-profile__avatar mast-avatar">
        <a href="{% url 'group:profile' user.mastodon_username %}">{{user.mastodon_username}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sidebar %}
    {%include "partial/_sidebar.html"%}
{% endblock %}