{% extends "group/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% load thumb %}

{% if my_groups_topics %}
<div>
    <h5>我加入的小组最新帖子</h5>
    <ul>
        {% for topic in my_groups_topics %}
        <li>
        <a href="{% url 'group:topic' topic.id %}">{{topic.title}}</a> - from <a href="{% url 'group:group' topic.group.id %}">{{topic.group.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="dividing-line"></div>
{% endif %}

{% if my_groups_comments %}
<div>
    <h5>我加入的小组最新回复</h5>
    <ul>
        {% for comment in my_groups_comments %}
        <li>
        <a href="{{ comment.absolute_url }}">{{comment.content | truncatechars:40}}</a> - from <a href="{% url 'group:group' comment.topic.group.id %}">{{comment.topic.group.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="dividing-line"></div>
{% endif %}

{% for gl in groups_lists %}
    {% if gl.0 %}
        <div>
            <h5>{{gl.1}}</h5>
            <ul>
            {% for g in gl.0 %}
                <li style="font-size: 16px;display: flex">
                {% if g.icon_url %}
                    <div style="flex: 0 0 auto;margin-right: 15px">
                        <img width="64" height="64" src="{{g.icon_url|thumb:'group'}}" class="entity-detail__avatar">
                    </div>
                {% endif %}
                    <div style="align-self: center">
                        <a href="{% url 'group:group' g.id %}">{{g.name}}</a>
                        - {{g.description | truncatechars:40}}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="dividing-line"></div>
    {% endif %}
{% endfor %}

<div>
    <h5>最新帖子</h5>
    <ul>
        {% for topic in last_topics %}
        <li>
        <a href="{% url 'group:topic' topic.id %}">{{topic.title}}</a> - from <a href="{% url 'group:group' topic.group.id %}">{{topic.group.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="dividing-line"></div>
<div>
    <h5>最新回复</h5>
    <ul>
        {% for comment in last_comments %}
        <li>
        <a href="{{ comment.absolute_url }}">{{comment.content}}</a> - from <a href="{% url 'group:profile' comment.user.mastodon_username %}">{{comment.user.mastodon_username}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="dividing-line"></div>
<div>
    <h5>最新加入的用户</h5>
    <ul>
        {% for user in last_join_users %}
        <li>
        <img width="32" height="32" src="{{ user.mastodon_account.avatar }}" class="user-profile__avatar mast-avatar">
        <a href="{% url 'group:profile' user.mastodon_username %}">{{user.mastodon_username}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sidebar %}
    {% if request.user.is_authenticated %}
    {%include "partial/_sidebar.html"%}
    {% endif %}
{% endblock %}
