{% load static %}
{% load i18n %}
{% load react %}
{% load admin_url %}
{% load nav %}
{% load oauth_token %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="/favicon.svg">
    {% block extra_head %}
    <meta property="og:title" content="{{ site_name }}">
    <meta property="og:description" name="description" content="{{ site_name }}致力于为联邦宇宙居民提供一个自由、开放、互联的小组产品">
    {% endblock %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_square.png' %}">
    <title>{%block title%}{%endblock%} - {{ site_name }}</title>
    <link rel="stylesheet" href="{% static 'react/style.css' %}">
</head>

<body onload="document.querySelector('html').classList.remove('no-js');">
    {% block body %}
    {% nav_items as nav_props %}
    {% react_render component="Nav" props=nav_props no_placeholder=1%}
    <div id="content">
        <div id="main">
        {% block content %}
        {% endblock %}
        </div>
        <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
        </div>
    </div>
    <script src="{% static 'react/group.js' %}" ></script>
    {% endblock %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_id}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{google_analytics_id}}');
</script>
</body>
</html>
