{% extends "group/react_base.html" %}
{% block extra_head %}
<meta property="og:title" content="{{topic.title}}">
<meta property="og:description" name="description" content="{{topic.description | truncatechars:100}}">
{% endblock %}

{% load react %}
{% load static %}

{% block title %}
{{topic.title}}
{% endblock %}

{% block content %}
{% react_render component="Topic" props=topic no_placeholder=1 %}
{% endblock %}

{% block sidebar %}
{% react_render component="TopicSidebar" props=sidebar no_placeholder=1 %}
{% endblock %}
