{% load static %}
{% load i18n %}
{% load react %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg">
    {% block extra_head %}
    <meta property="og:title" content="{{ site_name }}">
    <meta property="og:description" name="description" content="{{ site_name }}致力于为联邦宇宙居民提供一个自由、开放、互联的小组产品">
    {% endblock %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_square.png' %}">
    <title>{{ site_name }} - {%block title%}{%endblock%}</title>
    <script src="{% static 'react/group.js' %}"></script>
    <link rel="stylesheet" href="{% static 'react/style.css' %}">
</head>

<body>
    {% block body %}
        {% react_render component="Nav" %}
    <div class="content">
        <div class="main">
        {% block content %}
        {% endblock %}
        </div>
        <div class="sidebar">
        {% block sidebar %}
        {% endblock %}
        </div>
    </div>
    {% endblock %}
</body>

</html>