@import "../../common/color.scss";
@import "../../common/utils.scss";

.nav {
  display: flex;
  width: 100vw;
  background: $purple0;
  color: $white;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: fixed;
  height: 2.5rem;
  top: 0;
  z-index: 10;

  &.short {
    transition: height 0.4s linear;
    font-size: 0.9rem;
    height: 1.8rem;
    .logo {
      margin-right: 0.5rem;
      img {
        height: 1.6rem;
      }
    }
  }

  &-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    width: min(95%, 1200px);
    transition: transform 0.3s ease-out;

    @media screen and (max-width: 540px) {
      width: 100%;
      margin-left: 0.2rem;
    }

    &-left {
      display: flex;
      align-items: center;
      width: 100%;

      .logo {
        background-color: white;
        border-radius: 50%;
        margin-left: 0.5rem;
        margin: 0.4rem 0;
        img {
          height: 2rem;
          vertical-align: middle;
        }
      }

      .nav-card {
        display: none;
        padding: 0.2rem;
        color: white;
        &.show {
          display: flex;
          align-items: center;
        }
        img {
          max-width: 2.2rem;
          min-width: 2.2rem;
          border-radius: 0.5rem;
          vertical-align: middle;
          margin-right: 0.5rem;
        }

        &-subtitle {
          &::before {
            content: ">";
            color: $white2;
            margin-right: 0.2rem;
          }
          font-size: 0.65rem;
          color: $white2;
        }
      }

      .title {
        width: 80%;
        display: none;
        .up {
          display: none;
          &.show {
            display: block;
            cursor: pointer;
            height: 1.5rem;
            &:before {
              content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cgo8IS0tIExpY2Vuc2U6IFBELiBNYWRlIGJ5IGxpbmVhLWlvOiBodHRwczovL2dpdGh1Yi5jb20vbGluZWEtaW8vTGluZWEtSWNvbnNldCAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAKCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cG9seWxpbmUgZmlsbD0id2hpdGUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVqb2luPSJiZXZlbCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IjE1LDQwIDMyLDIzIAoJCTQ5LDQwIAkiLz4KPC9nPgo8L3N2Zz4=");
            }
          }
        }
        .text {
          @include line-clamp(1);
        }

        &.show {
          display: flex;
          align-items: center;
        }
      }
    }

    #menu {
      min-width: fit-content;
    }

    ul {
      list-style: none;
      text-align: right;
      transition: transform 0.3s ease-out;
    }

    a {
      height: 100%;
    }

    li {
      display: inline-block;
    }

    li a {
      color: $white;
      display: block;
      letter-spacing: 1px;
      margin: 0 10px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s ease;
    }

    li a:hover {
      color: $purple3;
      transition: all 0.4s ease;
    }

    /* Animated Bottom Line */
    li a:before,
    li a:after {
      content: " ";
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: -1px;
      color: $purple2;
      background-color: $purple2;
    }

    li a:before {
      left: 0;
      transition: 0.5s;
    }

    li a:after {
      right: 0;
    }

    li a:hover:before {
      width: 100%;
      transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
    }

    li a:hover:after {
      background: transparent;
      width: 100%;
    }
  }

  @media (max-width: 540px) {
    .nav-wrapper #menu {
      display: none;
    }

    .menuIcon {
      display: block;
      position: fixed;
      cursor: pointer;
      right: 0.6rem;
      width: 1.8rem;
      height: 2rem;
      z-index: 14;
    }

    /* Icon Bars */
    .icon-bars {
      background: $white;
      position: absolute;
      top: 50%;
      height: 2px;
      width: 20px;

      &::before {
        display: block;
        background: $white;
        content: "";
        position: relative;
        top: -7px;
        height: 2px;
        width: 20px;
      }

      &::after {
        display: block;
        margin-top: 0px;
        background: $white;
        content: "";
        position: relative;
        bottom: -6px;
        height: 2px;
        width: 20px;
      }
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle {
      height: 2rem;

      .icon-bars {
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &::before {
          top: 0;
          transition-delay: 0.1s;
          opacity: 0;
        }

        &::after {
          top: 8px;
          transform: translate3d(0, -10px, 0) rotate(-270deg);
          transition-delay: 0.1s;
          transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        &.overlay {
          width: 20px;
          opacity: 0;
          transition: all 0s ease 0s;
        }
      }
    }
  }

  .overlay-menu {
    background: $purple;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    transition: transform 0.2s ease-out;

    a {
      color: $purple3;
    }

    ul,
    li {
      display: block;
      position: relative;
    }

    li a {
      display: block;
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: 4px;
      text-align: right;
      text-transform: uppercase;
      transition: color 0.3s ease;
    }

    li a:hover,
    li a:active,
    li a:focus {
      color: $white;
      transition: color 0.3s ease;
    }
  }
}
