@import "../../common/color.scss";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/MaterialIcons.woff2) format("woff2");
}

#editor-wrapper {
  background-color: $white2;
  width: 68%;
  min-width: 68%;
  padding: 1.2rem 2.4rem;
  min-height: 90vh;

  @media screen and (max-width: 720px) {
    width: 100%;
    padding: 0;
  }
}
.editor {
  border-radius: 2px;
  padding: 0.8rem;
  height: 100%;

  .material-icons {
    display: block;
    font-size: 1.6rem;
    @media screen and (max-width: 540px) {
      font-size: 1.4rem;
    }
    text-align: center;
    font-family: "Material Icons";
    letter-spacing: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
  }

  &-header {
    position: sticky;
    top: -0.6rem;
    background-color: rgba($white2, 0.8);
    z-index: 9;
  }

  &-action {
    display: flex;
    input {
      flex: 1 0;
      outline: none;
      border: none;
      font-size: 1.5rem;
      @media screen and (max-width: 540px) {
        font-size: 1.2rem;
      }
      color: $black0;
      background-color: inherit;
    }
      button {
        float: right;
      }
    }

  &-toolbar {
    margin-top: 0.4rem;
    background-color: inherit;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;

    width: 100%;
    @media (min-width: 960px) {
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 75%;
    }

    modal.link-opened,
    modal.image-opened {
      position: absolute;
      top: 120px;
      left: 5%;
      width: 90%;
      height: 110%;
      background-color: rgba($black0, 0.4);
      z-index: 10;
      padding: 1rem;
      border-radius: 6px;
      backdrop-filter: blur(1px);

      input {
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 0.6rem;
        width: 100%;
        border-radius: 0.375rem;
        border: 1px $white dashed;
        background-color: transparent;
        color: $white;

        &::placeholder {
          opacity: 0.9;
          color: $white;
        }
      }

      div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;

        [type="button"] {
          background-color: $purple2;
          color: #ffffff;
          border-radius: 0.375rem;
          border: none;
          padding: 0.1rem 0.4rem;

          :hover {
            background-color: $purple3;
          }
        }
      }
    }
  }

  &-content {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    line-height: 1.5rem;

    img {
      cursor: grab;
      margin: auto;
      max-width: 100%;
      min-width: 100px;
      min-height: 100px;

      + .editor-button {
        align-self: end;
      }
    }
  }
  &-button {
    color: #d1d5db;
    cursor: pointer;

    &:hover,
    &.active {
      color: #6b7280;
    }
  }
}
