@import '../../common/color.scss';
@import '../../common/utils.scss';

.topic {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-flow: column;

  &-content {
    color: $black;
    margin-left: 3rem;
    white-space: pre-wrap;
  }

  .title {
    @include line-clamp(2, 3);
    max-width: 100%;
    font-size: 1.8rem;
    color: $black;
    margin-bottom: 1rem;
  }

  .comments {
    &-wrapper {
      width: 100%;
    }
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .reply-form-wrapper {
    margin: 2rem 0;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    box-shadow: #0000001f 0 2px 8px;
    color: $black0;
  }
}
