@import '../../common/color.scss';

.like {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    cursor: pointer;
    fill: $gray;
  }

  &.liked {
    svg {
      fill: $purple4;
    }
  }

  &-count {
    position: relative;
    top: 2px;
    margin-left: 5px;
    color: $gray2;
  }
}
