@import '../../../common/color.scss';

.topic-card {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
  margin:  0.5rem 0.5rem 0.5rem 0.2rem;
  float: left;
  color: $gray2;
  font-size: 0.9rem;
  a {
    color: $gray2;
    text-decoration: none;
    &:hover {
      color: $purple2;
    }
  }
  &-description {
    font-size: 0.8rem;
    margin-left: 0.2rem;
  }
}

