@import '../../../common/color.scss';

.comment-quote {
  padding: 0 0.4rem;
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  border-left: 2px solid $gray;
  background-color: $white2;

  &-author {

  }

  &-content {
    padding: 5px;
    font-size: 0.9rem;
    line-break: anywhere;
    padding: 3px;
    opacity: 0.65;
  }
}
