@import '../../../common/color.scss';
@import '../../../common/utils.scss';
@import '../../../common/sidebar.scss';

.sidebar {
  margin-top: 2rem;

  .latest-join {
    margin-top: 1rem;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.6rem;
    place-items: center;

    .account {
      display: flex;
      align-items: center;
      flex-direction: column;

      &-name {
        margin-top: 0.2rem;
        text-align: center;
        line-height: 1.1rem;
        @include line-clamp(2);
      }
      &-avatar {
        width: 2.2rem;
      }
    }
  }
}
