@import '../../common/color.scss';
.reply {
  &-form {
    display: flex;
    padding: 1rem;
    flex-direction: column;
  }

    &-content {
      min-height: 5rem;
      font-size: 0.9rem;
      &[contenteditable] {
        &:focus {
          outline: none;
        }
        &:empty:before {
          content: attr(placeholder);
          pointer-events: none;
          color: rgba($gray2, 0.7);
          display: block;
        }
      }
    }

  &-action {
    display: flex;
    align-self: flex-end;
  }
}
