@import '../../common/color.scss';
@import '../../common/utils.scss';

.author {
  display: flex;
  width: 100%;
  align-items: center;

  .left-side {
    flex: 1 0 auto;
    width: 2rem;
    height: 2rem;

    .topic-author {
      height: 0;

      .avatar {
        width: 2.5rem;
        border-radius: 2rem;
      }
    }
  }

  .right-side {
    width: calc(100% - 3rem);
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: $gray2;
    align-items: flex-start;

    .topic {
      &-user {
        max-width: 80%;

        &-username {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          .display-name {
            color: $black;
            font-weight: 500;
            font-size: 1.1rem;
            margin-right: 0.2rem;
          }
        }

        .note {
          white-space: nowrap;
          @include line-clamp(1);
        }
      }
    }

    .authored-at {
      padding-top: 0.5rem;
    }
  }
}