@import '../../common/color.scss';
@import '../../common/utils.scss';

.group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-flow: column;
  font-size: 0.9rem;

  .topics {
    width: 100%;

    &-hd {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      font-size: 1.3rem;

    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: none;

      tbody {
        tr {
          td {
            color: $gray2;
            text-align: center;
            padding: 0.3rem 0.05rem;
            font-size: 0.7rem;

            a {
              @include line-clamp(2, 2);
            }
          }

          .topic-title {
            font-size: 0.9rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            text-align: left;

            svg {
              margin-top: 0.3rem;
              margin-right: 0.3rem;
              min-width: 1.2rem;
              max-width: 1.2rem;
            }
          }

          th:last-child, td:last-child {
            text-align: end;
          }
        }
      }
    }
  }
}