@import '../../common/color.scss';
@import '../../common/utils.scss';

.group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-flow: column;
  .topics {
    width: 80%;
    table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: none;

      tbody{
        tr{
          td{
          
            padding: 0.5rem;
            text-align: center;
          }
        }
      }
    }
    .topic-title {
      width: 60%;
    }
    .topic-author{
      width: 20%;
    }
    .topic-time{
      width: 20%;
    }
  }
}
