html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img,
object,
embed {
	max-width: 100%;
}


li+li {
	margin-top: 0.25rem;
}

blockquote {
	border-left: 2px solid #ddd;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	color: #aaa;
}

mark {
	background-color: #5a47a533;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: 500;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
	max-width: 100%;
	min-width: 100px;
	background: #f8f8f8;
	color: #6a5c89;
	padding: 20px;
	box-shadow: 0 0 8px #6a5c8942;

}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

select,
input,
textarea {
	font: 99% sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

td,
td img {
	vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
	font-family: monospace, sans-serif;
}


code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	background-color: rgba(175, 184, 193, 0.2);
	border-radius: 6px;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
	margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
	width: auto;
	overflow: visible;
}

/* let's clear some floats */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.divide {
	height: 0;
	width: 100%;
	margin: 24px 0 24px;
	border-top: solid 1px #ccc;
}

.p {
	white-space: pre-wrap;
}
