@import '../../../common/color.scss';

.group-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: $gray2;
  &-hd {
    display: flex;
    justify-content: space-between;
    .group {
      &-info {
        display: flex;
        img {
          border-radius: 0.5rem;
          width: 4.5rem;
        }
      }
      &-base {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        .group-name {
          font-size: 1.6rem;
          color: $black0;
        }
      }
    }
  }

  &-bd {
    margin-top: 1rem;
    span {
      font-size: 1.4rem;
      color: $black0;
    }
  }
}
