@import '../../../common/color.scss';

.group-card {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  color: $black;
  &-hd {
    display: flex;
    justify-content: space-between;
    .group {
      &-info {
        display: flex;
        img {
          width: 4rem;
        }
      }
      &-base {
      }
    }
  }

  &-bd {
  }
}
